.App {
    text-align: center;
  }
  
  .App-header {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* color: white; */
    background-image: url(https://wallpaperaccess.com/full/9324269.jpg);
    background-size:contain;
    position:relative;
  }
  .login_main{
    min-height: 500px;
    width: 400px;
    display: flex;
    /* background-color: aliceblue; */
    flex-direction: column;
    position: absolute;
    top: 15%;
    right: 30%;
    margin: 10px;
    border: 2px solid;
    border-radius: 10px;
    /* background-color: #0B2447; */
    opacity:91.5;
    color: #F8F0E5;
  }
  .logo_main{
    height: 30%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
  }
  .logo{
    /* background-color: aquamarine; */
    height: 100%;
   width: 40%;
  }
  .data_main{
    height: 70%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .email{
    width:300px;
    height: 30px;
    border-right: 4px solid #F8F0E5;
    border-bottom: 4px solid #F8F0E5;
    border-radius: 50px;
    font-size: 17px;
    background: none;
    margin-top: 15px;
    color:aliceblue;
    /* background-color: rgb(38, 40, 70); */
    padding-left: 10px;
  }
  .password{
    padding-left: 10px;
    width:300px;
    color: aliceblue;
    background: none;
    height: 30px;
    border-right: 4px solid #F8F0E5;
    border-bottom: 4px solid #F8F0E5;
    border-radius: 50px;
    font-size: 17px;
    margin-top: 10px;
    box-shadow: 20px;
  }
  
  .btn{
    border: solid;
    margin-top: 10px;
    height: 40px;
    width: 100px;
    font-size: 20px;
    border-radius: 50px;
    background: none;
    color: #F8F0E5;
    cursor: pointer;
  }
  
  .social-login{
    display: flex;
    margin-top: 10px;column-gap: 10px;
  }
  .icon:hover{
    scale: 1.2;
  }
  a{
    text-decoration: none;
    color:cadetblue;
  }